JADE_IMAGE=crpi-mhs13r1rv9emmqbi.cn-hangzhou.personal.cr.aliyuncs.com/jadeerp/jadeerp:latest
JADE_PORT=5000

# 建议改成 NAS 绝对路径
JADE_DB_DIR=/volumeSSD/jade/db
JADE_IMAGE_DIR=/volumeHDD/jade/images
JADE_LOG_DIR=/volumeSSD/jade/logs
JADE_BACKUP_DIR=/volumeSSD/jade/backups
JADE_CONFIG_DIR=/volumeSSD/jade/config

PUID=0
PGID=0
TZ=Asia/Shanghai
